{% extends "base.html" %}

{% block content %}
    <form action="/course/create/" method="post">
        {% csrf_token %}

        Name:
        <input name="name" type="text">
        <br>

        Description:
        <input name="description" type="text">
        <br>

        Instructor:
        <select name="instructor">
            {% for i in instructors %}
                <option value="{{ i.user }}">{{ i.user.first_name }} {{ i.user.last_name }}</option>
            {% endfor %}
        </select>
        <br>

        <input type="submit">
        <br>
        {{ message }}
    </form>
{% endblock content %}