{% extends 'bar_base.html' %}

{%block application_pane %}
<div class="row">
    <form action="/course/create/" method="post">
        {% csrf_token %}

        <div class="col-7">
            <h1>Create Class</h1>
            <div class="input-group mb-2">
                <span class="input-group-text" id="Name">Name:</span>
                <input type="text" name="name" class="form-control" placeholder="Name of class" aria-label="Name"
                       aria-describedby="Name"/>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="Description">Description:</span>
                <input type="text" name="description" class="form-control" placeholder="Description of class"
                       aria-label="Description"
                       aria-describedby=Description">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="Instructor">Instructor</span>
                <select name="instructor" class="form-select" aria-label="Instructor" aria-describedby="Instructor">
                    <option selected>Select Instructor</option>
                    {% for i in instructors %}
                    <option value="{{ i.user }}">{{ i.user.first_name }} {{ i.user.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        {{ message }}
    </form>
</div>
{% endblock application_pane %}}
