{% extends 'bar_base.html' %}

{% comment %}
Delete Accounts

Context:
 - message: String
 - accounts: Iterable[Account]

POST Vars:
 - account: Account

{% end comment %}

{% block application_pane %}
    <h1> Delete Account </h1>
    <form action="/account/delete/" method="post">
        {% csrf_token %}
        <span class="input-group-text" id="account">Accounts</span>
        <select name="account" class="form-select" required="True">
            <option disabled selected value>Select Account</option>
            {% for i in accounts %}
                <option value="{{ i }}">{{ i.user.first_name }} {{ i.user.last_name }}</option>
            {% endfor %}
        </select>
    </form>
    {{ message }}
{% endblock application_pane %}